* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


body {
background: #FFFFFF;
color: #000;

}


.header {

position: sticky;
top: 0;

box-shadow: 0 2px 6px rgba(0,0,0,0.08);

background: #f7b61e;
color: #6a5f20;
padding: 1rem;
display: flex;
align-items: center;
gap: 2rem;
flex-wrap: wrap;

}


.logo {
height: 6.5rem;
}

.gif{
    height: 4.5rem;
}

.header input,
.header select {
padding: 0.5rem;
border-radius: 5px;
border: none;
}


main {
display: grid;
grid-template-columns: 3fr 1fr;
gap: 1rem;
padding: 1rem;
}


.productos {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 1rem;
}


.producto {
background: #f1f1f1;
border: 1px solid #F2E8C9;
padding: 1rem;
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.producto img {
height: 150px;
object-fit: contain;
}


.producto button {
background: #F7B61E;
border: none;
padding: 0.5rem;
cursor: pointer;
font-weight: bold;

border-radius: 20px;
font-weight: 600;
}

.producto button:hover {
  background: #cf9c01;
}



.carrito {
background: #fafafa;
padding: 1rem;
border-left: 2px solid #eee;
position: fixed;
right: 0;
top: 80px;
width: 300px;
height: calc(100vh - 100px);
overflow-y: auto;
}



.carrito-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;

  animation: fadeIn 0.3s ease;

}


.carrito-item button {
  background: transparent;
  border: none;
  color: #ff4d4d;
  font-size: 1.1rem;
  cursor: pointer;
}

.carrito-item button :hover {
  color: #f80000;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}


.total {
font-weight: bold;
font-size: 1.1rem;
margin-top: 1rem;
text-align: right;
}



@media (max-width: 768px) {
  .carrito {
    position: fixed;
    bottom: 0;        
    left: 0;
    right: 0;

    top: auto;        
    height: 25vh;     
    max-height: 260px;

    width: 100%;
    background: #fff;

    border-top: 3px solid #000;
    border-left: none;
    border-right: none;

    padding: 1rem;
    overflow-y: auto;
    z-index: 1000;
  }

  main {
    padding-bottom: 28vh; 
  }
}