

header {
    background-color: rgb(186, 192, 197);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem 1.5rem;
}


.logo {
    width: 6.5rem;

}

.carrito {
    width: 3.5rem;
}

.Buscar {
    display: flex;
    width: 50%;
    background-color: #e5e5e5; 
    border-radius: 0.6rem;
    overflow: hidden;
    border: 0.1rem solid #111; 
}


.Buscar input {
    flex: 1;
    padding: 0.6em 0.8em;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: transparent;
    color: #111; 
}

.Buscar input::placeholder {
    color: #555;
}


.Buscar button {
    background-color: #f5c400; 
    border: none;
    padding: 0 1em;
    cursor: pointer;
    font-size: 1.1em;
    color: #111;
    transition: background-color 0.2s ease;
}


.Buscar button:hover {
    background-color: #e0b200;
}

.Buscar:focus-within {
    box-shadow: 0 0 0 0.15rem #f5c400;
}
