* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
background: #f2f2f2;
color: #000;
}


.header {
background: #dcb711;
color: #6a5f20;
padding: 1rem;
display: flex;
gap: 1rem;
align-items: center;
flex-wrap: wrap;
}


.logo {
height: 6.5rem;
}

.gif{
    height: 4.5rem;
}

.header input,
.header select {
padding: 0.5rem;
border-radius: 5px;
border: none;
}


main {
display: grid;
grid-template-columns: 3fr 1fr;
gap: 1rem;
padding: 1rem;
}


.productos {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 1rem;
}


.producto {
background: #fff;
border: 1px solid #ccc;
padding: 1rem;
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.producto img {
height: 150px;
object-fit: contain;
}


.producto button {
background: #ffd700;
border: none;
padding: 0.5rem;
cursor: pointer;
font-weight: bold;
}


.carrito {
background: #fff;
padding: 1rem;
border: 2px solid #000;
position: fixed;
right: 0;
top: 80px;
width: 300px;
height: calc(100vh - 100px);
overflow-y: auto;
}


.carrito-item {
display: flex;
justify-content: space-between;
margin-bottom: 0.5rem;
}


.carrito-item button {
background: red;
color: #fff;
border: none;
cursor: pointer;
}


.total {
font-weight: bold;
margin-top: 1rem;
}



@media (max-width: 768px) {
  .carrito {
    position: fixed;
    bottom: 0;        
    left: 0;
    right: 0;

    top: auto;        
    height: 25vh;     
    max-height: 260px;

    width: 100%;
    background: #fff;

    border-top: 3px solid #000;
    border-left: none;
    border-right: none;

    padding: 1rem;
    overflow-y: auto;
    z-index: 1000;
  }

  main {
    padding-bottom: 28vh; 
  }
}